
/API/DreamyTalesAI/talesapi/__pycache__
/API/DreamyTalesAI/talesapi/migrations/__pycache__
/API/DreamyTalesAI/talesapi/__pycache__
/API/DreamyTalesAI/talesapi/__pycache__
/API/DreamyTalesAI/talesapi/__pycache__
/API/DreamyTalesAI/talesapi/__pycache__
/API/DreamyTalesAI/talesapi/__pycache__
/API/DreamyTalesAI/DreamyTalesAI/__pycache__
/.idea
/API/.idea
/API/DreamyTalesAI/.idea
.DS_Store
/API/DreamyTalesAI/.idea
/API/DreamyTalesAI/.vscode
